@model IEnumerable<Locatic.Web.Models.Modele>

@{
    ViewData["Title"] = "Modèles";
}

<div class="text-white">
    <h1>Modèles</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    <p>
        <a class="btn btn-success" asp-action="Create">Ajouter un modèle</a>
    </p>

    @if (!Model.Any())
    {
        <div class="alert alert-info">Aucun modèle trouvé pour l'instant.</div>
    }

    <table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Marque</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modele in Model)
        {
            <tr>
                <td>@modele.Nom</td>
                <td>@modele.Marque.Nom</td>
            </tr>
        }
    </tbody>
</table>
